#link1 li a.active{
    background-color: gray;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
#link2 li a.active{
    color: gray;
    font-weight: bold;
    font-size: 18px;
}
#link2 li::after{
    content: '';
    width: 0%;
    height: 4px;
    border-radius: 9999px;
    background: gray;
    display: block;
    margin: auto;
    transition: 0.5s;
}
#link2 li:hover::after{
    width: 100%;
}